{% extends 'books/base.html' %}

{% block title %}
    Authors
{% endblock %}

{% block links %}
    <style>
        .list-group > a:hover {
            background-color: #E9ECEF !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5 p-3 shadow">
        <h2 class="text-center fw-bold">Authors</h2>
        <hr>
        {% if authors_list %}
            <div class="list-group">
                {% for author in authors_list %}
                    <a href="{{ author.get_absolute_url }}" class="list-group-item list-group-item-action overflow-scroll {% if forloop.counter|divisibleby:2 %}bg-light{% endif %}" aria-current="true">
                        {{ author.name }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
        {% endif %}
    </div>
{% endblock %}