{% extends 'books/base.html' %}
{% load static %}


{% block title %}
    {{ user_profile }}'s Profile
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'books/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container shadow-lg p-0 mb-5 mt-5">
        <div class="col-12 p-0">
            <div class="d-flex bg-image bg-profile" style="background-image: url({% static 'books/imgs/books-banner.jpeg' %});"></div>
        </div>
        <div class="row m-3">
            <div class="col-md-4 col-lg-3 col-xl-3">
                <div class="position-relative d-flex justify-content-center mb-0 mr-auto">
                    {% if user_profile.profile_pic %}
                        <img class="img-thumbnail rounded-circle overflow-h profile-pic" src="{{ user_profile.profile_pic.url }}" alt="Profile picture">
                    {% else %}
                        <img class="img-thumbnail rounded-circle overflow-h profile-pic" src="{% static 'books/imgs/default-profile.png' %}" alt="Profile picture">
                    {% endif %}
                </div>
                {% if user_profile.id == request.user.id %}
                    <div class="mt-pic-btn">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center">
                                {{ form.profile_pic }}
                            </div>
                             {{ form.profile_pic.errors }}
                            <button type="submit" class="btn btn-outline-dark mt-3 w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                </svg>
                                Upload
                            </button>
                        </form>
                    </div>
                    <a href="{% url 'logout' %}" class="btn btn-outline-warning w-100 align-items-center gap-2 mt-2" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        Log out
                    </a>
                {% endif %}
            </div>
            <div class="col-md-8 col-lg-9 col-xl-9 mb-1 pl-xl-0">
                <div class="px-0 mb-3">
                    <h1 class="d-inline-flex text-break fw-bold">{{ user_profile.email }}</h1>
                    {% if user_profile.is_active %}
                        <span class="fs-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-dot text-success dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                            </svg>
                            Active user
                        </span>
                    {% else %}
                        <span class="fs-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-dot text-danger dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                            </svg>
                            Not active user
                        </span>
                    {% endif %}
                    <p class="fs-6 text-muted">Joined since {{ user_profile.date_joined|date:'j F Y' }}</p>
                </div>
                <hr>
                <p><span class="fs-4 fw-bold">Nickname: </span><span class="fs-5 fw-normal">{{ user_profile.nickname }}</span></p>
            </div>
            <div class="col-lg-9 offset-lg-3 mt-5 mb-5">
                <h4 class="text-center mt-5 fw-bold">{% if user.id == user_profile.id %} Your books {% else %} {{user_profile.nickname}}'s books {% endif %}</h4>
                {% if user_book_list %}
                    <div class="list-group rounded-1">
                        {% for book in user_book_list %}
                            <a href="{{ book.get_absolute_url }}" class="list-group-item list-group-item-action overflow-scroll">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img style="max-height: 100px;" src="{{ book.book_pic.url }}" alt="{{ book.title }}">
                                    <p class="fw-semibold fs-4 ms-3">{{ book.title }}</p>
                                    <p class="text-muted fs-5 ms-3">{{ book.author }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning shadow-lg text-center" role="alert">
                        <p class="fs-3">{% if user.id == user_profile.id %} You have {% else %} {{user_profile.nickname}} has {% endif %} not added any books yet</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}